<mat-card class="employee">
  <mat-card-header class="header">
    <mat-card-title class="title">{{employee.firstName}} {{employee.lastName}}, {{employee.position}}</mat-card-title>
    <mat-card-subtitle>Employee ID: {{employee.id}} Direct Reports: {{totalReports.totalReports}}</mat-card-subtitle>
  </mat-card-header>
  <hr>
  <mat-card-content class="content">
    <div class="report">
      Direct Reports:
    </div>
      <app-employee-reports-list-info [employees] = "totalReports.directReports" (newDeleteEvent)="handleDeletedEvent($event)" (updatedCompensationEmitter)="handleUpdatedCompensation($event)"></app-employee-reports-list-info>
  </mat-card-content>
</mat-card>
